@import '@/styles/media-queries/variables';

.special-offer {
  position: relative;
  margin: 35px 0;

  &__image {
    width: 100%;
    aspect-ratio: 21 / 6;
    object-fit: cover;
  }

  &__title {
    margin-top: 25px;
    font-size: var(--fs-2xl);
    font-weight: var(--fw-medium);
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
  }

  &__description {
    max-width: 670px;
    margin: 10px auto 0;
    color: var(--color-gray-darker);
    font-size: var(--fs-m);
    line-height: 25px;
    text-align: center;
  }

  @media (min-width: $screen-3xl) {
    margin: 70px 0;

    &__title {
      margin-top: 30px;
      font-size: var(--fs-3xl);
      line-height: 40px;
    }

    &__description {
      max-width: 1000px;
      margin-top: 20px;
      font-size: var(--fs-xl);
      line-height: 35px;
    }
  }

  @media (max-width: $screen-l) {
    margin: 0;
    padding: 30px 0;

    &__image {
      aspect-ratio: 16 / 8;
    }

    &__title {
      margin-top: 20px;
    }

    &__description {
      padding: 0 20px;
    }
  }

  @media (max-width: $screen-m) {
    grid-column: full !important;
  }
}
