@font-face {
  font-family: GrtskPeta;
  src: url('@/assets/font/GrtskPeta-Regular.woff2') format('woff2'),
    url('@/assets/font/GrtskPeta-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: GrtskPeta;
  src: url('@/assets/font/GrtskPeta-Medium.woff2') format('woff2'),
    url('@/assets/font/GrtskPeta-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: GrtskPeta;
  src: url('@/assets/font/GrtskPeta-Bold.woff2') format('woff2'),
    url('@/assets/font/GrtskPeta-Bold.woff') format('woff');
  font-weight: 700;
}
