@import '@/styles/content-grid-extend.scss';

.footer {
  position: relative;
  background-color: var(--color-black);
  margin-top: 160px;
  padding: 40px 0;
  @extend %content-grid;

  &::before {
    content: '';
    position: absolute;
    height: 160px;
    left: 0;
    right: 0;
    bottom: 99%;
    background-image: url('@/assets/images/footer-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  @media (min-width: $screen-3xl) {
    margin-top: 200px;

    &::before {
      height: 205px;
    }
  }

  @media (max-width: $screen-xl) {
    margin-top: 120px;
    padding: 10px 0 20px;

    &::before {
      height: 107px;
    }
  }

  @media (max-width: $screen-l) {
    display: grid;

    &::before {
      height: 85px;
    }
  }

  @media (max-width: $screen-m) {
    margin-top: 140px;
    padding-top: 20px;

    &::before {
      height: 120px;
      background-image: url('@/assets/images/footer-bg-mobile.svg');
    }
  }

  @media (max-width: $screen-s) {
    display: block;
    margin-top: 100px;
    padding: 20px;

    &::before {
      height: 90px;
    }
  }
}
