@import '@/styles/media-queries';

.loyality-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 0 25px;
  margin-bottom: 45px;

  @media (min-width: $screen-3xl) {
    gap: 0 60px;
    margin-bottom: 60px;
  }

  @media (max-width: $screen-m) {
    padding: 30px 0;
    margin-bottom: 15px;
    gap: 20px 10px;
  }
}

.loyality-card {
  display: flex;
  align-items: center;
  min-height: 790px;
  color: var(--color-white);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  box-shadow: inset 0 0 0 2000px hsla(var(--color-black-hsl), 0.35);

  &--our-club {
    background-image: url('@/assets/images/6.png');
  }

  &--subscribe {
    background-image: url('@/assets/images/1.png');
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-size: var(--fs-3xl);
    font-weight: var(--fw-bold);
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &__description {
    font-size: var(--fs-l);
    font-weight: var(--fw-medium);
    line-height: 25px;
    margin-bottom: 25px;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 152px;
    height: 75px;
  }

  &__icon {
    width: 71px;
    height: 57px;
  }

  &__input {
    max-width: 400px;
    color: var(--color-black);
    background-color: var(--color-white);
    border-color: var(--color-white);
  }

  @media (min-width: $screen-3xl) {
    min-height: 1000px;
    padding: 80px;

    &__title {
      font-size: var(--fs-4xl);
      line-height: 50px;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    &__description {
      font-size: var(--fs-2xl);
      line-height: 30px;
      margin-bottom: 60px;
    }

    &__image {
      width: 300px;
      height: 125px;

      svg:not(.icon) {
        width: 100%;
        height: 100%;
      }
    }

    &__icon {
      width: 100px;
      height: 80px;
    }

    &__input {
      max-width: 600px;
      height: 70px;
      font-size: var(--fs-xl);
      color: var(--color-black);
      background-color: var(--color-white);
      border-color: var(--color-white);

      & .input__field {
        padding: 0 80px;
      }

      & .input__icon {
        width: 80px;

        & .icon {
          width: 30px;
          height: 30px;
        }
      }
    }

    &__button {
      font-size: var(--fs-2xl);
      width: 50%;
    }
  }

  @media (max-width: $screen-xl) {
    align-items: flex-end;
    min-height: 500px;

    &__content {
      margin-bottom: 30px;
      text-align: center;
    }

    &__title {
      font-size: var(--fs-2xl);
      line-height: 30px;
      margin-bottom: 10px;
    }

    &__description {
      font-size: var(--fs-l);
      font-weight: var(--fw-medium);
      line-height: 25px;
      margin-bottom: 25px;
    }
  }

  @media (max-width: $screen-s) {
    min-height: 450px;

    &__image {
      width: 131px;
      height: 64px;
    }

    &__title {
      margin-top: 15px;
      margin-bottom: 5px;
    }

    &__description {
      font-size: var(--fs-m);
    }

    &__icon {
      width: 54px;
      height: 54px;
    }
  }
}
