@import '@/styles/content-grid-extend.scss';

.rs-header__top {
  padding: 13px 0;
  @extend %content-grid;
  @extend %content-grid--full;
  color: var(--color-gray-lighter);
  background-color: var(--color-black);
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--fs-s);
  font-weight: var(--fw-medium);
  line-height: 20px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left-panel {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-left: 25px;
  }
}

.region-select-button {
  display: inline-flex;
  align-items: center;
  gap: 0 15px;
  margin-right: 10px;
  color: var(--color-gray-lighter);
  background-color: var(--color-black);
  cursor: pointer;

  &__text {
    font-size: var(--fs-s);
    font-weight: var(--fw-medium);
    line-height: 20px;
  }

  &__chevron-icon {
    width: 10px;
    height: 10px;
    margin-top: 2px;
  }

  &__city {
    margin-left: 5px;
  }
}

.user-services {
  display: flex;
  align-items: center;
  gap: 0 28px;

  &__link {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }

  &__icon {
    color: var(--color-gray);

    &--credit {
      margin-top: 2px;
    }
  }
}
