.rs-footer {
  &__middle {
    display: flex;
    justify-content: space-between;
    gap: 0 60px;
    padding: 30px 0;
    color: var(--color-gray-lighter);
    border-top: 1px solid hsla(var(--color-white-hsl), 0.2);
    border-bottom: 1px solid hsla(var(--color-white-hsl), 0.2);
  }

  &__panel-title {
    margin-bottom: 10px;
    font-size: var(--fs-l);
    font-weight: var(--fw-medium);
    line-height: 25px;
  }

  &__apps-panel {
    display: flex;
    flex-grow: 1;
    gap: 0 60px;
  }

  &__contacts-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__navigation-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 80px;
  }
}

.mobile-apps {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 20px;

  &__header {
    grid-column: span 2;
    font-size: var(--fs-l);
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid hsla(var(--color-white-hsl), 0.1);
  }
}

.footer-contact {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-areas:
    'icon title'
    'icon desc';
  gap: 10px;
  margin-top: 20px;

  &__icon {
    width: 23px;
    height: 23px;
    grid-area: icon;
  }

  &__title {
    grid-area: title;
    font-size: var(--fs-l);
    font-weight: var(--fw-medium);
    line-height: 21.6px;
    letter-spacing: normal;
  }

  &__description {
    color: var(--color-gray);
    grid-area: desc;
    font-size: var(--fs-s);
    line-height: 20px;
    letter-spacing: normal;
  }
}

.footer-nav {
  &__title {
    margin-bottom: 25px;
    color: var(--color-gray-lighter);
    font-size: var(--fs-xl);
    font-weight: var(--fw-medium);
    line-height: 22px;
  }

  &__link {
    display: block;
    margin-top: 20px;
    color: var(--color-gray);
    font-size: var(--fs-s);
    font-weight: var(--fw-medium);
    line-height: 14px;
  }
}
