@media (min-width: $screen-3xl) {
  .button {
    font-size: var(--fs-2xl);
    padding: 18px 80px;
    line-height: 30px;
  }

  .section-title {
    margin-bottom: 15px;
    font-size: var(--fs-4xl);
    line-height: 45px;
  }

  .products-carousel {
    position: relative;

    &__items {
      display: flex;
      gap: 0 30px;
    }
  }

  .product-card {
    flex: 1;

    &__image {
      width: 100%;
      padding: 85px 50px;
    }

    &__title {
      font-size: var(--fs-2 xl);
      margin-bottom: 10px;
    }

    &__description {
      font-size: var(--fs-xl);
    }

    &__price {
      font-size: var(--fs-2xl);
    }

    &__badge {
      padding: 3px 20px;
      font-size: var(--fs-l);
      line-height: 30px;
    }

    &__favorite {
      width: 50px;
      height: 50px;
    }

    &__favorite-icon {
      width: 24px;
      height: 24px;
    }
  }

  .carousel-navigation {
    display: block;

    &--left {
      left: -55px;
    }

    &--right {
      right: -55px;
    }

    &__icon {
      width: 18px;
      height: 35px;
    }
  }

  .social-links {
    gap: 0 45px;

    & .icon {
      width: 28px;
      height: 28px;
    }

    .icon-twitter {
      width: 26px;
      height: 26px;
    }

    .icon-youtube {
      width: 30px;
      height: 30px;
    }
  }

  .location-panel {
    font-size: var(--fs-l);
    font-weight: var(--fw-medium);
    line-height: 20px;
  }
}
