.promotions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 30px;
  padding: 40px 0;
}

.promotion-card {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__image {
    display: block;
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: top;
  }

  &__link {
    display: grid;
    place-items: center;
    padding: 23px 0;
    font-size: var(--fs-2xl);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-black);
  }
}
