%content-grid > * {
  grid-column: base;
}

%content-grid--full {
  grid-column: full !important;
}

%content-grid {
  --gap: 72px;
  --full: minmax(var(--gap), 1fr);
  --content: min(1360px, 100% - var(--gap) * 2);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [base-start] var(--content) [base-end]
    var(--full) [full-end];
}
