.rs-footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px 0;
}

.rs-footer__subscribe-text {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-size: var(--fs-l);
  font-weight: var(--fw-medium);
  pointer-events: none;

  & span {
    color: var(--color-red);
    padding: 0 5px;
  }
}

input:focus ~ .rs-footer__subscribe-text,
input:invalid ~ .rs-footer__subscribe-text {
  display: none;
}

.rs-footer__input {
  color: var(--color-white);
  background-color: var(--color-black);
  border-color: hsla(var(--color-white-hsl), 0.2);

  & .rs-input__icon:not(.rs-input__icon--flip) {
    color: var(--color-gray-dark);
  }
}
